=image_tag("polygon-top.svg",  :class => "polygon-top")
=render "shared/navbar"

.container
  .questions
    .row.justify-content-md-center.padding-top
      .col-md-8
        %a.threedbutton{:href => "#{root_path}"}
          %i.fas.fa-arrow-left=t('.button_back')
      .col-md-4
        =image_tag("list.svg")
    .row.justify-content-md-center.text-main
      .col-md-8
        .text-p-tags
          =t('.search_in')
        .tag-search1
          Pregunta
        .tag-search2
          Derecho
        .tag-search3
          -if session[:search_type]
            =session[:search_type].capitalize
    .row.justify-content-md-center.text-main
      .col-md-8
        .text-title
          =t('.title')
    %div.margin-top
    =image_tag("polygon-big-right.svg",  :class => "polygon-big-right")
    =image_tag("polygon-big-left.svg",  :class => "polygon-big-left")
    -@rights.each do |right|
      .row.justify-content-md-center
        .col-md-10
          .label-solid
            .div-title
              .row
                .col-md-6
                  .tag-answer
                    =t('.right')
                .col-md-6.right.c_gray
                  Enviado #{right.created_at.to_time.strftime("%e de #{t(right.created_at.to_time.strftime('%B'))} del %Y, %H:%M")}
            %hr
            .row
              .col-md-12
                .text-p
                  %p=right.title
            .row.justify-content-end
              =link_to right_path(right) do
                .btn-shape
                  =t('.details')

    -@questions.each do |question|
      .row.justify-content-md-center
        .col-md-10
          .label-solid
            .div-title
              .row
                .col-md-6
                  .tag-answer
                    =t('.question')
                .col-md-6.right.c_gray
                  Enviado #{question.created_at.to_time.strftime("%e de #{t(question.created_at.to_time.strftime('%B'))} del %Y, %H:%M")}
            %hr
            .row
              .col-md-12
                .text-p
                  %p=question.message
            .row.justify-content-end
              =link_to question_path(question) do
                .btn-shape
                  =t('.details')

    .row.pagination.justify-content-center
      = paginate @rights, outer_window: 4
%footer-answer.sticky-footer.max-parent
  =render "shared/footer"