=image_tag("polygon-top.svg",  :class => "polygon-top", :alt => "polígono")
=render "shared/navbar"

.container.question-container
  .questions
    .row.justify-content-md-center.padding-top
      =image_tag("polygon-answer-right.svg",  :class => "polygon-answer-right", :alt => "polígono")
      .col-md-8
        %a.threedbutton.btn-max{:href => "#{root_path}"}
          %i.fas.fa-arrow-left=t('.button_back')
      .col-md-4
        =image_tag("paloma.svg", :alt => "paloma")
    .row.justify-content-md-center.text-main
      .col-md-8
        .text-p-tags
          =t('.search_in')
        .tag-search1
          Pregunta
        .tag-search2
          -if session[:search_type]
            =session[:search_type].capitalize
    .row.justify-content-md-center.text-main
      .col-md-8
        = render partial: "shared/messages", flash: flash
        .text-title
          =@question.message
    %div.margin-top
    .row.justify-content-md-center
      =image_tag("polygon-answer-left.svg",  :class => "polygon-answer-left", :alt => "polígono")
      .col-md-8
        -@answers.each do |answer|
          -if answer.is_user
            .row
              .col-md-10
                .label-solid-answer
                  .p-answers
                    =answer.message
          -else
            .row
              .col-md-2.center
                =image_tag("answer.svg", :alt => "respuesta")
              .col-md-10
                .label-solid-answer
                  .p-answers
                  =answer.message

    %div.margin-top
    .row.justify-content-md-center.center
      .col-md-6
        .text-we-can=t('.we_can')
    .row.justify-content-md-center.center
      .col-md-6
        .row
          .col-md-6
            %a.threedbutton2{:onclick=>"show_form()"}
              =t('.btn_no')
          .col-md-6
            %a.threedbutton2{id: "send_ok"}
              =t('.btn_yes')

    = form_for :answer, :url => {:controller => :answers, action: :create} do |f|
      #form-more-help.row.justify-content-md-center.margin-top-small.gone
        .col-md-8
          .input-group
            %span
              .text-input=t('.name')
            =f.text_field "name", id: "name", :class => "form-control", value: ""
          .input-group
            %span
              .text-input=t('.email')
            =f.email_field "email", id: "email_answer", :class => "form-control", value: ""
          .input-group
            %span
              .text-input=t('.message')
            =f.text_area "message", id: "message_answer", :class => "form-control", value: ""

          = hidden_field_tag 'question_id', @question.id
          .complain-btn
            %a.threedbutton.btn-max{id: "send_answer", :submit => "form"}
              =t('.send')

    -if @question.is_public
      %div.margin-top
      .row.justify-content-md-center
        .col-md-10
          .label-solid
            .div-title
              .row
                .col-md-6
                  .subtext-title
                    Compartir esta pregunta
                    %hr
                .col-md-6.right
                  %a.fbsharelink{"data-shareurl" => "#{question_url(@question.id)}"}
                    =image_tag("facebook.svg", :alt => "facebook")
                  %a.twsharelink{"data-shareurl" =>  "#{question_url(@question.id)}"}
                    =image_tag("twitter.svg", :alt => "twitter")
            .row
              .col-md-12
                .text-p
                  %p=t('.right_share')


%footer-answer.sticky-footer.max-parent
  =render "shared/footer"

:javascript
  function show_form(){
    $('#form-more-help').removeClass("gone").addClass("visible");
  }

  $('#send_answer').click(function() {
    if($('#email_answer').val() === "" || $('#message_answer').val() === ""){
      toastr.error('Por favor llena al menos correo y mensaje', 'Error!')
    }
    else{
      $( "form" ).last().submit();
    }
  });
  $( document ).ready(function() {
    if("#{@message}"=="true"){
      $('#sendModal').modal('show');
    }
  });

  $('.fbsharelink').click( function()
  {
      var shareurl = $(this).data('shareurl');
      window.open('https://www.facebook.com/sharer/sharer.php?u='+escape(shareurl)+'&t='+document.title, '',
      'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
      return false;
  });

  $('.twsharelink').click( function()
  {
      var shareurl = $(this).data('shareurl');
      window.open('https://twitter.com/share?url=' + escape(shareurl), 'twitter-popup', 'height=350,width=600');
      return false;
  });

  $('#send_ok').click( function(){
    root_path="#{question_path(@question.id)}"
    $.ajax({type: "PATCH", url: root_path, success: function(result){
      $('#sendModal').modal('show');
    }});
  });

