!!!
%html
  %head
    %meta{ name: "charset", content:"utf-8" }
    %title Derechos de Estudiantes
    %meta{ name: "description", content:"Conocé y hacé preguntas, consultas o denuncias sobre derechos de estudiantes de educación media en Uruguay (Secundaria/CES, UTU/CETP, ANEP y UNICEF)." }
    %meta{ name: "image", content:"https://derechosdeestudiantes.edu.uy/meta.png" }

    %meta{ itemprop: "name", content:"Derechos de Estudiantes" }
    %meta{ itemprop: "description", content:"Conocé y hacé preguntas, consultas o denuncias sobre derechos de estudiantes de educación media en Uruguay (Secundaria/CES, UTU/CETP, ANEP y UNICEF)." }
    %meta{ itemprop: "image", content:"https://derechosdeestudiantes.edu.uy/meta.png" }

    %meta{ name: "twitter:card", content:"summary" }
    %meta{ name: "twitter:title", content:"Derechos de Estudiantes" }
    %meta{ name: "twitter:description", content:"Conocé y hacé preguntas, consultas o denuncias sobre derechos de estudiantes de educación media en Uruguay (Secundaria/CES, UTU/CETP, ANEP y UNICEF)." }
    %meta{ name: "twitter:site", content:"@datauy" }
    %meta{ name: "twitter:image:src", content:"https://derechosdeestudiantes.edu.uy/meta.png" }
    %meta{ name: "twitter:player", content:"https://youtu.be/u0OOHC8JZrg" }

    %meta{ name:"og:title", content: "Derechos de Estudiantes" }
    %meta{ name:"og:image", content:"https://derechosdeestudiantes.edu.uy/meta.png" }
    %meta{ name:"og:description", content:"Conocé y hacé preguntas, consultas o denuncias sobre derechos de estudiantes de educación media en Uruguay (Secundaria/CES, UTU/CETP, ANEP y UNICEF)." }
    %meta{ name:"og:url", content:"https://derechosdeestudiantes.edu.uy" }
    %meta{ name:"og:site_name", content:"Derechos de Estudiantes" }
    %meta{ name:"og:locale", content:"es_UY" }
    %meta{ name:"og:video", content:"https://youtu.be/u0OOHC8JZrg" }
    %meta{ name:"fb:admins", content:"386077424787824" }
    %meta{ name:"og:type", content:"website" }

    %meta{ name:"keywords", content:"derechos, estudiantes, educación, uruguay, consejo de educación secundaria, unicef, data uruguay, anep, cetp, utu, ces, administración nacional de educación pública, participación, salud, inclusión, reglamento, deporte, recreación, embarazo, discapacidad, religión, identidad de género, fútbol, acceso a la información" }
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'href':'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=swap'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .polygon-mobile-top
    .polygon-mobile-middle
    = yield
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-34702401-13"}
    :javascript
      window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-34702401-13');
