!!!
%html
  %head
    %title Derechos de Estudiantes
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'href':'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400i,600,700&display=swap'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  %body
    .polygon-mobile-top
    .polygon-mobile-middle
    = yield
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-34702401-13"}
    :javascript
      window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-34702401-13');
