!!!
%html
  %head
    %title Derechos de Estudiantes
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'href':'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400i,600,700&display=swap'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    =image_tag("polygon-mobile-top.svg",  :class => "polygon-mobile-top")
    .polygon-mobile-middle
    = yield
